<!--Checkbox onclick function-->
<script type="text/javascript">
  function Toggle(chk){
    if(chk.checked == true){
      var submenu = document.getElementById('submenus');
      submenu.style.display='';
    }
    else{
      var submenu = document.getElementById('submenus');
      submenu.style.display='none';
    }
  }
</script>

<span class="sr-only">{{ site.data.strings.navigation | default:"Navigation" }}{{ site.data.strings.colon | default:":" }}</span>
<ul>
  {% if site.menu %}
    {% assign subpages = site.pages | where: "menu", false | sort: "order" %}<!---->
    {% assign count = 0%}<!---->

    {% for node in site.menu %}
      {% assign url = node.url | default: node.href %}
      {% assign count = count | plus: 1 %}
      <li>
        <input type="checkbox" id="list-item-{{ count }}" style="display: none" onclick="Toggle(this)"/><!---->
        <div  class="list-wrapper"><!---->
         <a
            {% if forloop.first %}id="_navigation"{% endif %}
            href="{% include smart-url.txt url=url %}"
            class="sidebar-nav-item{% if page.url contains url %} active{% endif %}"
            {% if node.rel %}rel="{{ node.rel }}"{% endif %}
          >
          {{ node.name | default:node.title }}
          </a>
          {% if node.submenu %}<label class="folder" for="list-item-{{ count }}">▾</label>{% endif %}<!---->
        </div> <!---->
        <ul class="list-body" style="display:none" id="submenus"><!---->
          {% for subnode in subpages %}<!---->
              {% if subnode.belong == node.slug %}<!---->
                <li><!---->
                  <a class="sidebar-nav-subitem{% if page.url == subnode.url %} active{% endif %}" href="{{ subnode.url | relative_url }}">{{ subnode.title }}</a>
                </li><!---->
              {% endif %}<!---->
            {% endfor %}<!---->
        </ul><!---->
      </li>
    {% endfor %}
  {% else %}
    {% assign subpages = site.pages | where: "menu", false | sort: "order" %}<!---->
    {% assign pages = site.pages | where: "menu", true %}
    {% assign documents = site.documents | where: "menu", true %}
    {% assign nodes = pages | concat: documents | sort: "order" %}

    {% for node in nodes %}
      {% unless node.redirect_to %}
        <li>
          <input type="checkbox" id="list-item-{{ count }}"/><!---->
          <div  class="list-wrapper"><!---->
          <a
            {% if forloop.first %}id="_navigation"{% endif %}
            href="{{ node.url | relative_url }}"
            class="sidebar-nav-item{% if page.url contains node.url %} active{% endif %}"
            {% if node.rel %}rel="{{ node.rel }}"{% endif %}
            >
            {{ node.title }}
          </a>
          {% if node.submenu %}<label class="folder" for="list-item-{{ count }}">▾</label>{% endif %}<!---->
          </div> <!---->
          <ul class="list-body"><!---->
            {% for subnode in subpages %}<!---->
                {% if subnode.slug == node.slug %}<!---->
                  <li><!---->
                    <a class="sidebar-nav-subitem{% if page.url == subnode.url %} active{% endif %}" href="{{ subnode.url | relative_url }}">{{ subnode.title }}</a>
                  </li><!---->
                {% endif %}<!---->
              {% endfor %}<!---->
          </ul><!---->
        </li>
      {% else %}
        <li>
          <a href="{{ node.redirect_to }}" class="sidebar-nav-item external" >{{ node.title }}</a>
        </li>
      {% endunless %}
    {% endfor %}
  {% endif %}
</ul>
